 @font-face { font-family: arial; src: url('Resources/arial.ttf');}

body {
	background-color: #222222;
}

.customHeader {
    z-index: 32;
    height: 16px;
    padding: 32px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    /*color: hsla(0,0%,100%,.7);*/
    background-color: #24292e;
}

.menu {
	/*transform: translate(22%, -50%);*/
	margin : auto;
}

.menuBtn{
	display: inline-block;
	list-style-type: none;
}

.menuBtn a {
	outline-style: none;
	text-decoration-line: none;
	color : white;
	padding: 5px;
	font-size: 25px;
	transition: 0.3s all;
	font-family: arial;
}

.menuBtn a:hover {
	color : #5dc2f5;
	padding: 10px;
	font-size: 30px;
	transition: 0.3s all;
}

h1.underConstruction {
	font-family: arial;
	color: red;
	text-align: center;
	font-size:25px;
	/*outline: 2px solid #555555;*/
}

h1.welcome {
	font-family: arial;
	color: white;
	text-align: center;
	font-size:25px;
	/*outline: 2px solid #555555;*/
}

.AboutTitle {
	font-family: arial;
	color: white;
	text-align: center;
	font-size:25px;
	/*outline: 2px solid #555555;*/
}

p {
	font-family: arial;
	color: white;
	text-align: center;
	font-size:25px;
	/*transform: translate(-50%, -50%);/*
	/*outline: 2px solid #555555;*/
}

.Screen1 {
	width: 480px;
	height: 260px;
	transform: translate(112%, 0%);
	
}

.Screen2 {
	width: 480px;
	height: 260px;
	transform: translate(12%, 120%);
}

.Screen3 {
	width: 480px;
	height: 260px;
	transform: translate(-89%, 240%);
}
.gamePNG {
	width: 400px;
	height: 300px;
	transform: translate(147.5%, -5%);
	position: initial;
}

.AboutDE {

	background-color: #4CAFFF;

	font-family: arial;
	text-align: center;
	font-size: 25px;
	padding: 10px 10px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

	position:initial;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 

	transform: translate(0%, 250%);

	border-radius: 50px;
	transition: 0.3s border-radius;
}


.github {
	font-family: arial;
	text-align: center;
	font-size: 25px;
	padding: 10px 10px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

	position:initial;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 
	background-color: #03a60e;
	border-radius: 50px;

	transform: translate(50%, 250%);

	transition: 0.3s background-color ease;
	transition: 0.1s border-radius, 0.3s background-color;

}

.github:hover {
	background-color: #02c90f;
	border-radius: 0px;
	transition: 0.1s border-radius, 0.3s background-color;
}

.downloads {
	font-family: arial;
	color: white;
	text-align: center;
	font-size:25px;
}

.downloadBtn {
	background-color: #4CAFFF;

	font-family: arial;
	text-align: center;
	font-size: 25px;
	padding: 10px 10px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

	position:initial;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 

	/*transform: translate(164.5%, 250%);*/
	margin : auto;
	border-radius: 50px;
	transition: 0.3s border-radius;
}

.downloadBtn:hover {
  background-color: #5dc2f5;
  border-radius: 0px;
  transition: 0.1s border-radius linear, 0.1s background-color;
}
.downloadBtn:active {
  background-color: #5591ff;
}

button:hover {
  background-color: #5dc2f5;

  border-radius: 0px;

  transition: 0.1s border-radius linear, 0.1s background-color;
}
button:active {
  background-color: #5591ff;
}


/* 
À = Alt + 183 
Æ = Alt + 146 
æ = Alt + 145 
Ç = Alt + 128 
É = Alt + 144 
È = Alt + 212 
Œ = Alt + 0140 
œ = Alt + 0156 
Ù = Alt + 235
*/
